[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / Unity generated
*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.userprefs

.DS_Store
.vscode/

# unity files
*.pidb
*.booproj
*.svd
*.pdb

# macOS
*.app


